{% macro render_flashes() %}
<div class="fixed-bottom">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="toast-container position-absolute bottom-0 end-0 p-3">
        {% for category, message in messages %}
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-{{category}}">
                <i class="bi bi-exclamation-circle-fill me-1"></i>
                <strong class="me-auto">{% if category == "danger" %}Error {% elif category == "success" %}Success {% else %}Info {%endif%}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endmacro %}